<footer>
	<div class='content'>
		<div class='company-social'>
			<div class='company-social__item'>
				<img class='company-social__item-img' alt='facebook logo' src='img/facebooklogo.svg'/>
				<p class='company-social__item-text'>Our Facebook</p>
			</div>
			<div class='company-social__item'>
				<img class='company-social__item-img' alt='instagram logo' src='img/instagramlogo.svg'/>
				<p class='company-social__item-text'>Our Instagram</p>
			</div>
			<div class='company-social__item'>
				<img class='company-social__item-img' alt='phone logo' src='img/phoneLogo.svg'/>
				<p class='company-social__item-text'>+78000000000</p>
			</div>
		</div>
		<p class='company-adress'>Ул. Ботаническая 124716, офис 4716</p>
	</div>
</footer>
</body>
</html>