<body>
	<header>
		<div class="content">
			<div class='company-logotype'>
			<img class='company-logotype__img' src='img/logo.svg' alt='logotype of our company'/>
			<p class='company-logotype__text'>Yabloko Store.</p>
			</div>
			<div class='user-interaction'>
				<nav class='user-interaction__nav'>
					<a href="/" class='user-interaction__nav-link'>Главная</a>
					<a href="/catalog" class='user-interaction__nav-link'>Каталог</a>
					<a href="/about" class='user-interaction__nav-link'>О нас</a>
				</nav>
				<div class='user-interaction__basket'>
					<a href="/basket" class="user-interaction__link"><img class='user-interaction__basket-img' src='img/basket.svg' alt='basket icon'>
						<div class='basket-counter'>
							<p class='basket-counter__text'></p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<hr class="header__hr"/>
	</header>
