/* файл со стилями главной страницы */

main {
	display: flex;
	justify-content: center;
	background: radial-gradient(23.7% 45.12% at 73.7% 45.8%, #3F4044 0%, rgba(30, 31, 35, 0.97) 100%);
}

.target-message {
	margin-left: 130px;
	width: 32vw;
}

.target-message__title {
	font-weight: 800;
	font-size: 64px;
	color: #ffffff;	
}

.target-message__subtitle {
	font-weight: 400;
	font-size: 24px;
	color: #ffffff;
	margin: 13px 0 160px 0;
}

.target-message__link {
	text-decoration: none;
	display:  flex;
	justify-content: space-between;
	width: 200px;
}

.target-message__link-hr {
	width: 100px;
	border: 1px solid #F9A968;
}

.target-message__link-text {
	font-weight: 500;
	color: #F9A968;
}

.newest-img {
	padding-right: 9vw;
}

@media (min-width: 1200px) and (max-width: 1340px) {

}

@media (min-width: 1024px) and (max-width: 1199.9px) {
	.newest-img {
		padding-right: 1vw;
	}
} 

@media (min-width: 768px) and (max-width: 1023.9px) {
	.target-message {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 15px 0 0 0;
		text-align: center;
	}
	.newest-img {
		padding-right: 0;
	}
}

@media (max-width: 777px) {
	.target-message {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 15px 0 0 0;
		text-align: center;
	}

	.target-message__title {
		font-size: 58px;
	}

	.newest-img {
		padding-right: 0;
	}
}